In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
rets = pd.read_excel('../data/spx_returns_weekly.xlsx',sheet_name='s&p500 rets').set_index('date')

ticks = ['AAPL','MSFT','AMZN','NVDA','GOOGL','TSLA','XOM']

In [12]:
facs = pd.read_excel('../data/spx_returns_weekly.xlsx',sheet_name='benchmark rets').set_index('date')
ticksF = ['SPY','IEF']
f = facs[ticksF]

In [13]:
retsx = rets[ticks].sub(f['IEF'],axis=0)
spyx = f[['SPY']].sub(f['IEF'],axis=0)

In [14]:
info

                               name       mkt cap
ticker
A          Agilent Technologies Inc  3.811856e+10
AAL     American Airlines Group Inc  6.849105e+09
AAPL                      Apple Inc  3.450322e+12
ABBV                     AbbVie Inc  3.057600e+11
ABNB                     Airbnb Inc  9.580152e+10
...                             ...           ...
XYL                    Xylem Inc/NY  3.411718e+10
YUM                 Yum! Brands Inc  3.561521e+10
ZBH      Zimmer Biomet Holdings Inc  2.263012e+10
ZBRA        Zebra Technologies Corp  1.703011e+10
ZTS                      Zoetis Inc  8.185022e+10

[503 rows x 2 columns]

In [15]:
info = pd.read_excel('../data/spx_returns_weekly.xlsx',sheet_name='s&p500 names').set_index('ticker')
i = info.loc[ticks,['name']]

In [16]:
file_out = '../data/assignment_1_data.xlsx'

with pd.ExcelWriter(file_out) as writer:  
    i.to_excel(writer, sheet_name= 'info')
    retsx.to_excel(writer, sheet_name='excess returns')
    spyx.to_excel(writer, sheet_name='spy')